<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Nav</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/admins">Admins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/categories
              ">Job_categories</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/countries
              ">Countries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cities
              ">City</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employers
              ">Employers</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/jobs
              ">Jobs</a>
            </li>

            <li class="nav-item">

              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Vivek
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <!-- <a class="dropdown-item" href="#">Profile</a> -->
                  <a class="dropdown-item" href="/logout">Logout</a>
                </ul>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
